
  <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel"
    aria-labelledby="ex1-tab-1">

    <ul class="list-group mb-0">
      <li
        *ngFor="let todo of todos; index as i"
        class="list-group-item d-flex justify-content-between align-items-center border-0 mb-2 rounded"
        [ngClass]="todo.completed ? 'todo-completed' : ''"
        >
          <div>
            <span
              #descriptionEdit sharedInlineEdit [control]="editDescriptionControl"
              (onEditEnd)="onEditEnd(i, $event)"
              >{{todo.description}}</span>
          </div>

          <div>
            <button class="btn btn-edit">
              <i class="fas fa-pen d-none d-sm-block" (click)="editDescription(i)"></i>
            </button>
            <button
              (click)="deleteTodo(i)"
              class="btn btn-delete">
              <i class="fas fa-trash"></i>
            </button>
            <input class="form-check-input" type="checkbox" (change)="onCheckboxChange(i, todo, $event)" [checked]="todo.completed" />
          </div>
      </li>
    </ul>
  </div>
